{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<div id="midiawrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Mídias</h2>
      </div>
    </div>
  </div>
</div>
{% endblock titulo %}

{% block movimento %}
  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>VÍDEOS E MÚSICAS</h2>
        <p>Aqui estão alguns vídeos e músicas que poderão auxiliar em seus estudos. Confira!</p>
      </div>
    </div>
    <!-- /row -->
  </div>
  <hr>
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-8 col-lg-offset-2">
        <ul class="process effect-2" id="process">
          <li><iframe width="560" height="315" src="https://www.youtube.com/embed/Wih3l98A-zI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
          <li><iframe width="560" height="315" src="https://www.youtube.com/embed/2rVhmTzVzZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
          <li><iframe width="560" height="315" src="https://www.youtube.com/embed/GdTJRG-wylg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
          <li><iframe width="560" height="315" src="https://www.youtube.com/embed/9qg4aAixzRc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
          <li><iframe width="560" height="315" src="https://www.youtube.com/embed/lbGXXUdPINE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        </ul>
      </div>
  </div>
      <!-- col-lg-8 -->
    </div>
    <!-- row -->
  
  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>LISTA DE FILMES</h2>
          <p>Confira a seguir, uma lista de filmes baseados em teorías dos clássicos.</p>
        </div>
  
      </div>
        <!-- /row -->
    </div>
  </div>
  <hr> 
  
    <div align = 'center'>
      <h3>Émile Durkheim </h3>
    </div>
  
    <p > <b>Ladrões de Bicicletas </b> <br>
        Direção: Vittorio de Sica <br>
        País: Itália <br>
        Ano: 1948 <br>
    </p>
    <p > 
        <div style='text-align:justify'>
          A história se passa logo após a Segunda Grande Guerra, com a Itália destruída e o 
        povo passando necessidade. Ricci consegue um emprego após muita espera. Só que 
        esse emprego, de colador cartazes na rua, lhe pedia como obrigação uma bicicleta. Ricci
        e sua mulher Maria conseguem um dinheiro para uma, possibilitando que ele realize o seu 
        trabalho. Há também o menino Bruno, filho do casal. Fascinado por bicicletas, o menino 
        cai de cabeça com o pai na busca pela bicicleta que lhes foi roubada, quando Ricci
        trabalhava apenas em seu primeiro dia.
        </div>
    </p>  
    <p > <b>Metrópolis</b><br>
      Direção: Fritz Lang <br>
      País: Alemanha<br>
      Ano: 1927<br>
    </p>
    <p > 
        <div style='text-align:justify'>
            O ano é 2026, a população mundial se divide em duas classes: a elite dominante e
            a classe operaria; esta condenada desde a infância a habitar os subsolos, escravos das
            monstruosas máquinas que controlam a metrópolis. Quando o filho do criador de
            Metrópolis se apaixona por Maria, a líder dos operários, tem inicio a mais simbólica luta
            de classe já registrada pelo cinema.
        </div>
    </p>

    <hr> 
  
    <div align = 'center'>
      <h3>KARL MARX</h3>
    </div>
  <div style="align-content: center;">
    <p > <b>O jovem Karl Marx </b> <br>
      Direção : Raoul Peck <br>
      Países : França, Alemanha e Bélgica<br>
      Ano : 2017<br>
    </p>
    <p > 
        <div style='text-align:justify'>
            Aos 26 anos, Karl Marx (August Diehl) embarca para o exílio junto com sua esposa,
            Jenny (Vicky Krieps). Na Paris de 1844, ele conhece Friedrich Engels (Stefan Konarske),
            filho de um industrialista que investigou o nascimento da classe trabalhadora britânica.
            Dândi, Engels oferece ao jovem Marx a peça que faltava para completar a sua nova visão
            de mundo. Entre a censura e a repressão, os tumultos e as repressões políticas, eles
            liderarão o movimento operário em meio a era moderna.
        </div>
    </p>  
    <p > <b>1900</b><br>
      Direção: Bernardo Bertollucci <br>
      País: Itália  <br>
      Ano : 1975 <br>
    </p>
    <p > 
        <div style='text-align:justify'>
            O filme acompanha as vidas e a relação de dois homens, o filho de um camponês e
o de um fazendeiro, na Itália, de 1900 a 1945. Nesse período, surge e cresce o fascismo
e, em contraposição, o comunismo, o que vai afetar a vida dos personagens centrais.
        </div>
    </p>
  </div>
<hr>
    <div align = 'center'>
        <h3>Max Weber</h3>
      </div>
    
      <p > <b>A onda</b> <br>
        Direção : Dennis Gansel <br>
        País : Alemanha <br>
        Ano: 2009<br>
      </p>
      <p > 
          <div style='text-align:justify'>
              Em uma escola da Alemanha, alunos tem de escolher entre duas disciplinas
              eletivas, uma sobre anarquia e a outra sobre autocracia. O professor Rainer Wenger
              (Jürgen Vogel) é colocado para dar aulas sobre autocracia, mesmo sendo contra sua
              vontade. Após alguns minutos da primeira aula, ele decide, para exemplificar melhor aos
              alunos, formar um governo fascista dentro da sala de aula. Eles dão o nome de "A Onda"
              ao movimento, e escolhem um uniforme e até mesmo uma saudação. Só que o professor
              acaba perdendo o controle da situação, e os alunos começam a propagar "A Onda" pela
              cidade, tornando o projeto da escola um movimento real. Quando as coisas começam a
              ficar sérias e fanáticas demais, Wenger tenta acabar com "A Onda", mas aí já é tarde
              demais.
          </div>
      </p>  
      <p > <b>Corra Lola Corra</b><br>
        Direção: Tom Tykwer <br>
        País : Alemanha<br>
        Ano : 1999<br>
      </p>
      <p > 
          <div style='text-align:justify'>
              Manni (Moritz Bleibtreu), o coletor de uma quadrilha de contrabandistas, esquece
no metrô uma sacola com 100.000 marcos. Ele só tem 20 minutos para recuperar o
dinheiro ou irá confrontar a ira do seu chefe, Ronnie, um perigoso criminoso.
Desesperado, Ronni telefona para Lola (Franka Potente), sua namorada, que vê como
única solução pedir ajuda para seu pai (Herbert Knaup), que é presidente de um banco.
Assim, Lola corre através das ruas de Berlim, sendo apresentados três possíveis finais da
louca corrida de Lola para salvar o namorado.
          </div>
      </p>
  </div>
{% endblock %}