{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<div id="sobrewrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>SOBRE</h2>
                </div>
            </div>
                <!-- row -->
        </div>
  </div>
{% endblock titulo %}

{% block content %}
  <div class="container">
    <div class="row mt">
      <div class="col-lg-8">
        <h1>KARL MARX</h1>
        <hr>
        <p>Karl Heinrich Marx, conhecido apenas como Karl Marx, nasceu em maio do ano de 1818 e morreu em março de 1883. Marx foi um importante revolucionário e intelectual alemão, fundador da doutrina comunista moderna. Além disso, ele ainda atuou como filósofo, economista, historiador, jornalista e teórico político.</p>          
        <br>
        <br>
        <br>
        <h1>MAX WEBER</h1>
        <hr>
        <p>Max Weber (1864-1920) foi um importante sociólogo e destacado economista alemão. Suas grandes obras são, “A Ética Protestante e o Espírito do Capitalismo” e "Economia e Sociedade". Dedicou sua vida ao trabalho acadêmico, escrevendo sobres assuntos variados como o espírito do capitalismo e as religiões chinesas.</p>
        <br>
        <br>
        <br> 
        <h1>ÉMILE DURKHEIM</h1>
        <hr>
        <p>Émile Durkheim (1858-1917) foi um sociólogo francês. É considerado o pai da Sociologia Moderna e chefe da chamada Escola Sociológica Francesa. É o criador da teoria da coesão social. Junto com Karl Marx e Max Weber, formam um dos pilares dos estudos sociológicos.</p>
        <br>
        <br>
        <br>
      </div>
      <!-- col-lg-8 -->
     
      
      <!-- col-lg-4 -->
    </div>
    <!-- /row -->
  </div>
{% endblock %}